In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sb

In [2]:
df = pd.read_csv("Filtered KNBS_data.csv")

/tmp/ipykernel_5830/1630855121.py:1: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("Filtered KNBS_data.csv")

In [3]:
df.head(10)

,b04,b05_mm,b05_yy,b06_yy,b14,c10_l,c10_g,c11,d02_1,d02_2,...,e22_2,e22_3,e23_1,e23_2,e23_3,g06,g07,g08,g09,g10
0,Female,NaN,31,1984,Catholic,NaN,NaN,NaN,No,Yes,...,NaN,NaN,NaN,NaN,NaN,No,Yes,Yes,No,No
1,Male,NaN,9,2006,Catholic,Primary,2.0,None,No,No,...,NaN,NaN,NaN,NaN,NaN,No,Yes,Yes,No,No
2,Male,NaN,6,2009,Catholic,Pre-primary,2.0,None,No,No,...,NaN,NaN,NaN,NaN,NaN,No,Yes,Yes,No,No
3,Male,0.0,3,2012,Catholic,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,No,Yes,Yes,No,No
4,Male,6.0,0,2015,Catholic,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Female,NaN,38,1977,Traditionalist,NaN,NaN,NaN,No,No,...,NaN,NaN,NaN,NaN,NaN,No,Yes,Yes,No,No
6,Female,NaN,17,1998,Catholic,Primary,7.0,Cpe/kcpe,No,No,...,NaN,NaN,NaN,NaN,NaN,NaN,Yes,Yes,No,No
7,Female,NaN,16,1999,Catholic,Primary,2.0,NaN,No,No,...,NaN,NaN,NaN,NaN,NaN,NaN,Yes,Yes,No,No
8,Female,NaN,13,2002,Catholic,NaN,NaN,NaN,No,No,...,NaN,NaN,NaN,NaN,NaN,NaN,Yes,Yes,No,No
9,Female,NaN,10,2005,Catholic,NaN,NaN,NaN,No,No,...,NaN,NaN,NaN,NaN,NaN,NaN,Yes,Yes,No,No

In [4]:
df.shape

(92846, 34)

In [5]:
df.isnull().sum()

b04           0
b05_mm    80156
b05_yy        0
b06_yy        2
b14           0
c10_l     23291
c10_g     23493
c11       23297
d02_1     12807
d02_2     12807
d02_3     12807
d02_4     12807
d02_5     12807
d02_6     12807
d04_1     51186
d04_2     92789
d04_3     92839
d11_1     52395
d11_2     92568
d11_3     92768
d12a      54047
d12b      56286
d31       53609
e22_1       175
e22_2     92519
e22_3     92793
e23_1     90386
e23_2     92671
e23_3     92809
g06        7788
g07        7723
g08        7723
g09        7713
g10        7733
dtype: int64

Dropping rows with more than **80%** missing values

In [8]:
# Calculate the percentage of missing values in each row
row_missing = df.isnull().mean(axis=1)

# Drop rows that have 80% or more missing values
df = df[row_missing < 0.8]

Drop coluns with more than 80% missing values

In [10]:
# Calculate the percentage of missing values in each column
col_missing = df.isnull().mean()

# Drop columns that have 80% or more missing values
df = df.drop(col_missing[col_missing >= 0.8].index, axis=1)

In [13]:
df.isnull().sum()

b04           0
b05_yy        0
b06_yy        2
b14           0
c10_l     15783
c10_g     15985
c11       15789
d02_1      5299
d02_2      5299
d02_3      5299
d02_4      5299
d02_5      5299
d02_6      5299
d04_1     43678
d11_1     44887
d12a      46539
d12b      48778
d31       46101
e22_1       138
g06         280
g07         215
g08         215
g09         205
g10         225
dtype: int64

Creating a function to fill missing values propotionally

In [23]:
# function to fill missing values propotionally

def fill_missing_values_proportionally(df, column):
    value_counts = df[column].value_counts(normalize=True)
    def fill_missing(value):
        if pd.isnull(value):
            return np.random.choice(value_counts.index, p=value_counts.values)
        else:
            return value
    df[column] = df[column].apply(fill_missing)
    return df

In [26]:
#apply function to all columns 
missing_columns = df.columns[df.isnull().any()].tolist()

for column in missing_columns:
    df = fill_missing_values_proportionally(df, column)

In [28]:
df.isnull().sum()

b04       0
b05_yy    0
b06_yy    0
b14       0
c10_l     0
c10_g     0
c11       0
d02_1     0
d02_2     0
d02_3     0
d02_4     0
d02_5     0
d02_6     0
d04_1     0
d11_1     0
d12a      0
d12b      0
d31       0
e22_1     0
g06       0
g07       0
g08       0
g09       0
g10       0
dtype: int64

### Feature Engineering

In [40]:
#selecting dependet and independet variables

dep_variable = df["d11_1"]
ind_variable  = df.drop(columns=["d11_1"])

In [32]:
#converting the variables to continous variables

df

,b04,b05_yy,b06_yy,b14,c10_l,c10_g,c11,d02_1,d02_2,d02_3,...,d11_1,d12a,d12b,d31,e22_1,g06,g07,g08,g09,g10
0,Female,31,1984,Catholic,Pre-primary,1.0,None,No,Yes,Yes,...,Q,Employed (working for pay or profit),0.0,Kilifi,G,No,Yes,Yes,No,No
1,Male,9,2006,Catholic,Primary,2.0,None,No,No,No,...,Q,Full time student/ pupil,0.0,Elgeyo/Marakwet,G,No,Yes,Yes,No,No
2,Male,6,2009,Catholic,Pre-primary,2.0,None,No,No,No,...,Q,Full time student/ pupil,0.0,Kilifi,G,No,Yes,Yes,No,No
3,Male,3,2012,Catholic,Primary,8.0,None,Yes,No,No,...,Q,Full time student/ pupil,0.0,Baringo,G,No,Yes,Yes,No,No
5,Female,38,1977,Traditionalist,Primary,2.0,None,No,No,Yes,...,Q,Full time student/ pupil,0.0,Kilifi,G,No,Yes,Yes,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92841,Male,9,2006,Other christian,Secondary,4.0,Cpe/kcpe,No,No,No,...,Q,Full time student/ pupil,0.0,Homa Bay,G,Yes,Yes,Yes,No,Yes
92842,Female,42,1973,Other christian,Secondary,4.0,Kce/kcse,Yes,No,No,...,M,Retired/income recipient,0.0,Nairobi City,G,Yes,Yes,Yes,No,No
92843,Female,16,1998,Other christian,Secondary,2.0,Cpe/kcpe,No,No,No,...,Q,Full time student/ pupil,0.0,Kitui,G,Yes,Yes,Yes,No,No
92844,Female,11,2003,Other christian,Primary,5.0,None,No,No,No,...,Q,Full time student/ pupil,0.0,Migori,G,Yes,Yes,Yes,No,No
92845,Female,7,2008,Other christian,Primary,1.0,None,No,No,No,...,Q,Full time student/ pupil,0.0,Lamu,G,Yes,Yes,Yes,No,No